@{
  Layout = "_Layout";
}
@using VendorsPage.Models;
<h1>Vendors</h1>
<h3>*Click on a Vendor to add their orders*</h3>

  @if (@Model.Count == 0)
  {
    <h3>There are currently no vendors logged.</h3>
  } 

  @foreach (Vendors vendor in Model)
  {
    <h3><a href='/vendors/@vendor.Id'>@vendor.Name</a></h3><p>(@vendor.Description)</p>
  }
  <br>
  <form action="/vendors/delete" method="post">
    <button class="btn" type="submit">Clear All</button>
  </form>