@{
  Layout = "_Layout";
}

<h1>New Vendors Form</h1>
<br>
<br>
<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name:</label>
  <input id="vendorName" name="vendorName" type="text" placeholder="Dill Rye the Sandwich Guy" required>
  <br>
  <br>
  <label for="vendorDescription">Vendor Description (optional)</label>
  <input id="vendorDescription" name="vendorDescription" type="text" placeholder="My Best Customer">
  <br>
  <br>
  <button class="btn" type="submit">Add</button>
</form>