@{
  Layout = "_Layout";
}
@using VendorsPage.Models;
<h3>Here are all the orders for @Model["vendors"].Name:</h3>

<ol>
  @foreach (var order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendors"].Id/orders/@order.Id'>@order.Description</a></li> // For each order, we display its description in an <li> 
  }
</ol>
<br>
<br>
<p><a href='/vendors/@Model["vendors"].Id/orders/new'><button class="btn">Add Order</button></a></p>
<br>
<form action="/orders/delete" method="post">
  <button class="btn" type="submit">Clear Orders</button>
</form>