@{
  Layout = "_Layout";
}
@using VendorsPage.Models;
<h1>Order Details:</h1>

<h2>@Model["order"].Description</h2>
<h3>Vendor: @Model["vendors"].Name</h3>
<h3>Description: @Model["vendors"].Description</h3> 
<br>

<a href='/vendors/@Model["vendors"].Id/orders/new'>Add Another Order</a>