@{
  Layout = "_Layout";
}
@using VendorsPage.Models;
<h1>Order Details:</h1>

<h2>@Model["order"].Description</h2>
<h3>Vendor: @Model["vendors"].Name</h3>
<h3>Price: $@Model["order"].Price</h3> 
<br>
<br>
<a href='/vendors/@Model["vendors"].Id/orders/new'><button class="btn">Add Another Order</button></a>
