<img src='~/img/PVP-logo.PNG' alt="Pierre's Logo" margin="0 auto" height="auto" width="100%" style="border: 5px double black">
  <br>
  <br>
  <div id="navBar">
    <ul class="nav nav-tabs animated bounceInDown">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/vendors">All Vendors</a></li>
      <li role="presentation"><a href='/vendors/new'>Add New Vendor</a></li>
    </ul>
  </div>