<img src='~/img/PB-logo-bit.PNG' alt="Pierre's Logo" height="auto" width="100vw">
  <ul class="nav nav-tabs animated bounceInDown">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/vendors">All Vendors</a></li>
    <li role="presentation"><a href='/vendors/new'>Add New Vendor</a></li>
  </ul>